
.gradle/
.idea/
target/
build/
logs/
temp/

dependency-reduced-pom.xml
service.properties
routes.properties
application.properties
test.properties
schema.properties

*.iml
*.conf
*.log
*.zip
*.gz
*.tar
*.jar

!template-*.conf

.env
.DS_Store
.sdkmanrc
